#home {
    text-align: center;
}

#home img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#home nav {
    display: inline-block;
    text-align: left;
    font-size: 2rem;
    list-style-position: inside;
    cursor: default;
}

@media(max-width: 800px) {
    #home nav {
        font-size: 4vw;
    }
}

#home nav a {
    text-decoration: none;
}

#home nav a span:first-child {
    text-decoration: underline;
}

#home nav span:nth-child(2) {
    font-size: 67%;
    font-style: italic;
    vertical-align: middle;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out;
}

#home nav a:hover span:last-child {
    text-shadow: var(--text-color-visited) 2px 2px 20px;
}

@media(hover: hover) and (pointer: fine) {
    #home nav span:nth-child(2) {
        opacity: 0;
    }

    #home nav:hover span:last-child {
        opacity: 0.5;
    }
}

#home nav a:hover span:last-child {
    opacity: 1;
}

#home nav ul {
    padding-left: 0;
}

#home nav li {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
}

#home nav ul {
    list-style-type: none;
}

#home nav ul ul li::before {
    content: '├─';
}

#home nav ul ul li:last-child::before {
    content: '└─';
}

#home nav ul ul ul li::before {
    content: '\00a0\00a0  ├─';
}

#home nav ul ul li:not(:last-child) ul li::before {
    content: '│\00a0  ├─';
}

#home nav ul ul li:not(:last-child) ul li:last-child::before {
    content: '│\00a0  └─';
}

#home nav ul ul li:last-child ul li:last-child::before {
    content: '\00a0  \00a0└─';
}

#home nav :not(li) > ul {
    list-style-type: none;
    padding-left: 0;
}

#home nav :not(li) > ul > li {
    margin-bottom: 1em;
}
