.header {
    background-color: var(--bg-black);
    color: var(--text-color-black);
    box-shadow: 0px 0px 24px var(--bg-black);
    margin-top: 1em;
    padding-bottom: 1em;
}

.header img {
    object-fit: cover;
    object-position: 55%;
    min-height: 288px;
    width: 100%;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 1.0) 10vw,
        rgba(0, 0, 0, 1.0) calc(100% - 10vw),
        transparent 100%);
    margin-bottom: -15%;
}

.header blockquote {
    font-size: 120%;
    text-shadow:
        4px 4px 0px var(--bg-black),
        4px 4px 8px var(--bg-black);
}

.header > div > p:last-child {
    margin: 1em;
    text-align: right;
}

:not(.post) > .gallery {
    margin: 1em var(--margin-body);
}

:not(.post) > .gallery .gallery-item {
    max-width: 100%;
    width: 512px;
    height: 348px;
    aspect-ratio: 512 / 348;
    overflow: hidden;
}

.gallery .gallery-item .gallery-title {
    font-size: 150%;
}

.gallery .gallery-item .preview .gallery img,
.gallery .gallery-item .preview .gallery video {
    max-width: 120px;
    max-height: 45px;
}

.post p {
    text-align: justify;
}

.post .info {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
}

.post .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post hr:last-child {
    clear: both;
}

.post .gallery figcaption {
    width: 0;
    min-width: 100%;
    margin-top: 1.5em;
}

.post .gallery figcaption p {
    text-align: center;
}

.post .gallery figcaption:last-child {
    margin-bottom: 0;
}
