.header {
    background-color: var(--bg-black);
    color: var(--text-color-black);
    box-shadow: 0px 0px 24px var(--bg-black);
    margin-top: 1em;
    padding-bottom: 1px;
}

.header img {
    object-fit: cover;
    object-position: 55%;
    min-height: 288px;
    width: 100%;
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        rgba(0, 0, 0, 1.0) 10vw,
        rgba(0, 0, 0, 1.0) calc(100% - 10vw),
        transparent 100%);
    margin-bottom: -15%;
}

.header blockquote {
    font-size: 120%;
    text-shadow:
        4px 4px 0px var(--bg-black),
        4px 4px 8px var(--bg-black);
}

.header > div > p:last-child {
    margin: 1em;
    text-align: right;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.gallery img,
.gallery video,
.places > div {
    max-width: 100%;
    box-shadow: 8px 8px 24px black;
}

.places {
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.place {
    position: relative;
    max-width: 100%;
    width: 512px;
    height: 348px;
    aspect-ratio: 512 / 348;
    overflow: hidden;
    color: white;
}

.place .main-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    min-height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.place a {
    color: white;
    text-decoration: none;
}

.place .title {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    margin: 1em;
    text-align: right;
    font-size: 150%;
    text-shadow:
        4px 4px 0px black,
        4px 4px 8px black;
}

.place h2 {
    margin: 0;
    font-weight: normal;
}

.place .preview {
    visibility: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    opacity: 0;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.place:hover .preview,
.place.hover .preview {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s ease, visibility 0.25s ease;
}

.place .preview-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.place .preview .preview-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    text-align: justify;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0.5) 90%,
        transparent 95%);
}

.place .preview .gallery {
    gap: 0.5em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.place .preview .gallery img,
.place .preview .gallery video {
    max-width: 120px;
    max-height: 45px;
}

.post p {
    text-align: justify;
}

.post .info {
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
}

.post .info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.post hr:last-child {
    clear: both;
}

.post .gallery figure {
    margin: 0;
}

.post .gallery figcaption {
    width: 0;
    min-width: 100%;
    margin-top: 1.5em;
}

.post .gallery figcaption p {
    text-align: center;
}

.post .gallery figcaption:last-child {
    margin-bottom: 0;
}
