main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

@media (min-width: 800px) {
    .main-video {
        float: right;
        padding-left: 2em;
        padding-right: 2em;
    }
}

.main-video video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
}

.main-video video:not(:first-child) {
    padding-top: 2em;
}

.screenshots {
    padding-left: 2em;
    padding-right: 2em;
}

.screenshots figure {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
}

.screenshots img, .screenshots video {
    width: 100%;
    max-width: 800px;
    padding: 1em;
}
