main {
    margin-left: auto;
    margin-right: auto;
}

.example {
    font-size: 75%;
}

.demo {
    display: block;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 800px) {
    main::after {
        content: "";
        display: block;
        clear: both;
    }

    .description {
        float: left;
    }

    .example {
        float: right;
    }
}
