main {
    margin-left: auto;
    margin-right: auto;
}

.description {
    display: inline-block;
}

.example {
    font-size: 75%;
}

@media (min-width: 800px) {
    main::after {
        content: "";
        display: block;
        clear: both;
    }

    .description { float: left; }
    .example { float: right; }
}
