.sections {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 66em;
}

.sections section {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 100%;
}

.sections section a {
    text-decoration: none;
}

.sections section .section-header img {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    width: 480px;
    height: 320px;
    object-fit: cover;
}

.sections section h2 {
    font-size: 300%;
    margin-top: 0;
    margin-bottom: -0.25em;
}

.sections section :last-child {
    margin-block-end: 0;
}

.sections hr {
    margin: 4em auto;
}

@media(max-width: 999px) {
    .sections {
        margin-top: 2em;
    }

    .sections section {
        flex-direction: column;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        gap: 1em;
    }

    .sections section .section-header img {
        max-width: 100%;
    }

    .sections hr {
        margin: 2em auto;
    }
}

@media(min-width: 1000px) {
    section:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    section:nth-of-type(odd) {
        flex-direction: row;
    }
}
