.sections {
    padding-top: 2em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 62em;
}

.sections hr {
    width: 100%;
    height: 3em;
}

.sections section {
    width: 100%;
    font-size: 110%;
}

.sections section a {
    text-decoration: none;
}

.sections section .section-header img {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    width: 480px;
    height: 320px;
    object-fit: cover;
}

.sections section h2 {
    font-size: 300%;
    margin-top: 0;
    margin-bottom: -0.25em;
}

@media(max-width: 1000px) {
    .sections section {
        max-width: 80ch;
    }

    .sections section .section-header img {
        margin-bottom: 0.5em;
    }
}

@media(min-width: 1000px) {
    section:nth-of-type(odd) .section-header {
        float: left;
        margin-right: 2em;
    }

    section:nth-of-type(even) .section-header {
        float: right;
        margin-left: 2em;
    }

    section::after {
        content: "";
        display: block;
        clear: both;
    }
}
