body {
    background-color: black;
    font-family: Monospace;
    font-size: 16px;
}

body, a {
    color: green;
}

a:visited {
    color: darkgreen;
}

#home {
    text-align: center;
}

#home #logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#home nav {
    display: inline-block;
    text-align: left;
    font-size: 2vw;
    list-style-position: inside;
}

#home nav ul {
    padding-left: 0;
}

#home nav li {
    margin-bottom: 0;
}

#home nav ul {
    list-style-type: none;
}

#home nav ul ul li::before {
    content: '├─';
}

#home nav ul ul li:last-child::before {
    content: '└─';
}

#home nav ul ul ul li::before {
    content: '│\00a0  ├─';
}

#home nav ul ul ul li:last-child::before {
    content: '│\00a0  └─';
}

#home nav ul ul li:last-child ul li:last-child::before {
    content: '\00a0  \00a0└─';
}

#home nav :not(li) > ul {
    list-style-type: none;
    padding-left: 0;
}

#home nav :not(li) > ul > li {
    margin-bottom: 1em;
}

#page-nav {
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

#page-nav #logo {
    display: inline;
    margin: -10px;
    width: 32px;
    height: 32px;
}

.blog {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.blog img {
    display: block;
    margin: 2em auto;
    max-width: 80%;
    text-align: center;
}

.blog img.white-bg {
    background-color: white;
    padding: 1em;
}

.blog pre {
    margin-left: 2em;
    margin-right: 2em;
}

.blog :not(pre) code {
    font-weight: bold;
}

.blog .tags {
    font-style:italic;
}
