.blog aside {
    border: 1px solid var(--text-color-base);
    padding-left: 1em;
    padding-right: 1em;
}

.blog aside:not(.toc) {
    margin-bottom: 1em;
    margin-top: 1em;
}

.blog img, .blog video {
    display: block;
    margin: 2em auto;
    max-width: 80%;
    text-align: center;
}

.blog img.white-bg {
    background-color: white;
    padding: 1em;
}

.blog .framed, .blog .framed img {
    margin-left: auto;
    margin-right: auto;
}

.blog .framed img {
    max-width: 100%;
    box-sizing: border-box;
    padding: 1.5em;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .25);
}

.blog .framed figcaption {
    font-style: italic;
    margin-top: -1em;
}

.blog .img-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.blog .img-group img {
    max-width: 100%;
    margin: 0;
}

.blog pre, .blog .src-ref {
    margin-left: 2em;
}

.blog p + .inline-code {
    margin-top: 0;
    margin-bottom: 0;
}

.blog .inline-code {
    display: inline-block;
    vertical-align: top;
}

.blog .inline-code-details {
    display: inline-block;
}

.blog .code-details {
    margin-top: 2em;
    margin-bottom: 2em;
}

.blog .code-details summary, .blog .inline-code-details summary {
    margin-bottom: 1em;
}

.blog .src-ref {
    font-style: italic;
}

.blog .tags {
    font-style: italic;
}
