main {
    max-width: 79ch;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.description {
    display: inline-block;
}

.example {
    font-size: 75%;
}

@media (min-width: 800px) {
    .description { float: left; }
    .example { float: right; }
}
