.header {
    position: relative;
}

.header .header-background {
    display: block;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 0.5em;
}

.header .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95vw;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    filter: drop-shadow(0.5em 0.5em 0.3em black);
}

@media (max-width: 800px) {
    .videos .video .preview {
        margin-bottom: 1em;
    }
}

@media not (max-width: 800px) {
    .videos .video {
        width: 720px;
    }

    .videos .video .preview {
        float: left;
        margin-right: 1em;
    }

    .videos .video .info {
        float: none;
        margin-left: 0;
    }

    .video .info {
        float: right;
        margin-left: 2em;
        margin-bottom: 1em;
    }
}

.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    padding: 1.5em;
    background-color: black;
}

.video .preview {
    position: relative;
}

.video .preview img {
    display: block;
}

.video .preview .duration {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 125%;
    color: #e4e4e4;
    text-shadow:
        3px 3px 0px black,
        3px 3px 4px black;
}

.video h2 {
    margin: 0;
    font-size: 1.2em;
}

.video ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.videos .video .preview img {
    width: 320px;
}

.videos .video h2 {
    hyphens: none;
}

.videos .video .info .date {
    font-size: 75%;
}

.video video, .video audio {
    max-width: 100%;
    width: 100%;
    margin-top: 1em;
}

.videos .video {
    max-width: 560px;
    text-decoration: none;
}
