.header .header-imgs {
    position: relative;
    max-width: 100%;
}

.header .header-background {
    display: block;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 24px var(--text-color-white);
}

.header .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 816px;
    width: 95vw;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    filter: drop-shadow(0.5em 0.5em 0.3em black);
}

.header .bottom .tag-filter {
    float: left;
}

.header .bottom a {
    float: right;
}

.header .bottom::after {
    content: " ";
    display: block;
    clear: both;
}

@media (max-width: 80ch) {
    .header .bottom {
        margin-left: var(--margin-body);
        margin-right: var(--margin-body);
    }
}

@media (max-width: 580px) {
    .videos .video,
    .videos .video .preview img {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .videos .video .preview {
        margin-bottom: 1em;
    }
}

@media not (max-width: 580px) {
    .videos .video {
        width: 580px;
    }

    .videos .video .preview {
        float: left;
        margin-right: 1em;
    }

    .videos .video .info {
        float: none;
        margin-left: 0;
    }

    .video .info {
        float: right;
        margin-left: 2em;
        margin-bottom: 1em;
    }
}

.videos {
    padding: var(--margin-body);
}

.video .preview {
    position: relative;
}

.video .preview img {
    display: block;
    max-width: 100%;
    width: 300px;
}

.video .preview .duration {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 125%;
    color: #e4e4e4;
    text-shadow:
        3px 3px 0px black,
        3px 3px 4px black;
}

.video h2 {
    margin: 0;
    font-size: 1.2em;
}

.video ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.videos .video h2 {
    hyphens: none;
}

.videos .video .info {
    font-size: medium;
}

.videos .video .info .tags,
.videos .video .info .date,
.videos .video .info .description {
    font-size: 75%;
}

.video video, .video audio {
    max-width: 100%;
    width: 100%;
    margin-top: 1em;
}

.videos .video {
    display: block;
    max-width: 580px;
    text-decoration: none;
}
