.header .header-imgs {
    position: relative;
    max-width: 100%;
}

.header .header-background {
    display: block;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 24px var(--text-color-white);
}

.header .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 816px;
    width: 95vw;
    transform: translate(-50%, -50%);
    object-fit: scale-down;
    filter: drop-shadow(0.5em 0.5em 0.3em black);
}

.header .bottom .tag-filter {
    float: left;
}

.header .bottom a {
    float: right;
    margin-left: 0.5em;
}

.header .bottom::after {
    content: " ";
    display: block;
    clear: both;
}

@media (max-width: 80ch) {
    .header .bottom {
        margin-left: var(--margin-body);
        margin-right: var(--margin-body);
    }
}

@media (max-width: 580px) {
    .videos .video,
    .videos .video .preview img {
        width: 100%;
    }
}

@media (max-width: 580px) {
    .videos .video .preview {
        margin-bottom: 1em;
    }
}

@media not (max-width: 580px) {
    .videos .video {
        width: 580px;
    }

    .videos .video .preview {
        float: left;
        margin-right: 1em;
    }

    .videos .video .info {
        float: none;
        margin-left: 0;
    }

    .video .info {
        float: right;
        margin-left: 2em;
        margin-bottom: 1em;
    }
}

.videos {
    padding: var(--margin-body);
}

.video .preview {
    position: relative;
}

.video .preview img {
    display: block;
    max-width: 100%;
    width: 300px;
}

.video .preview .duration {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 125%;
    color: #e4e4e4;
    text-shadow:
        3px 3px 0px black,
        3px 3px 4px black;
}

.video h2 {
    margin: 0;
    font-size: 1.2em;
}

.video ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.videos .video h2 {
    hyphens: none;
}

.videos .video .info {
    font-size: medium;
}

.videos .video .info .tags,
.videos .video .info .date,
.videos .video .info .description {
    font-size: 75%;
}

.video video, .video audio {
    max-width: 100%;
    width: 100%;
    margin-top: 1em;
}

.videos .video {
    display: block;
    max-width: 580px;
    text-decoration: none;
}

.scores .index {
    position: relative;
    font-size: 150%;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
}

.scores .index img {
    width: auto;
    min-width: 500px;
    max-width: 100%;
}

.scores .index span,
.scores .index a {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.scores .index #letter-a { top: 53%; left: 35%; }
.scores .index #letter-b { top: 46%; left: 41%; }
.scores .index #letter-c { top: 39%; left: 47%; }
.scores .index #letter-d { top: 33%; left: 53%; }
.scores .index #letter-e { top: 26%; left: 59%; }
.scores .index #letter-f { top: 20%; left: 65%; }
.scores .index #letter-g { top: 12%; left: 71%; }
.scores .index #letter-h { top: 67%; left: 35%; }
.scores .index #letter-i { top: 60%; left: 41%; }
.scores .index #letter-j { top: 53%; left: 47%; }
.scores .index #letter-k { top: 46%; left: 53%; }
.scores .index #letter-l { top: 39%; left: 59%; }
.scores .index #letter-m { top: 33%; left: 65%; }
.scores .index #letter-n { top: 26%; left: 71%; }
.scores .index #letter-o { top: 20%; left: 77%; }
.scores .index #letter-p { top: 12%; left: 83%; }
.scores .index #letter-q { top: 79%; left: 35%; }
.scores .index #letter-r { top: 73%; left: 41%; }
.scores .index #letter-s { top: 67%; left: 47%; }
.scores .index #letter-t { top: 60%; left: 53%; }
.scores .index #letter-u { top: 53%; left: 59%; }
.scores .index #letter-v { top: 46%; left: 65%; }
.scores .index #letter-w { top: 39%; left: 71%; }
.scores .index #letter-x { top: 33%; left: 77%; }
.scores .index #letter-y { top: 26%; left: 83%; }
.scores .index #letter-z { top: 20%; left: 89%; }

.scores .description {
    text-align: right;
}

.scores ul {
    padding: 0 1em;
    line-height: 1.75em;
}

.scores ul img {
    vertical-align: text-bottom;
    width: 24px;
    margin-left: 0.1em;
}

.scores .score-title {
    font-style: italic;
}
